<p id="notice"><%= notice %></p>

<h1>Distribuicaos</h1>

<table>
  <thead>
    <tr>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distribuicaos.each do |distribuicao| %>
      <tr>
        <td><%= distribuicao.obs %></td>
        <td><%= link_to 'Show', distribuicao %></td>
        <td><%= link_to 'Edit', edit_distribuicao_path(distribuicao) %></td>
        <td><%= link_to 'Destroy', distribuicao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distribuicao', new_distribuicao_path %>
