<%= form_with(model: escola, local: true) do |form| %>
  <% if escola.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(escola.errors.count, "error") %> prohibited this escola from being saved:</h2>

      <ul>
      <% escola.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :escola_nome %>
  </div>

  <div class="field">
    <%= form.label :rota %>
    <%= form.text_field :rota, id: :escola_rota %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_area :endereco, id: :escola_endereco %>
  </div>

  <div class="field">
    <%= form.label :mod_ensino %>
    <%= form.text_field :mod_ensino, id: :escola_mod_ensino %>
  </div>

  <div class="field">
    <%= form.label :periodo_atend %>
    <%= form.text_field :periodo_atend, id: :escola_periodo_atend %>
  </div>

  <div class="field">
    <%= form.label :qtd_alunos %>
    <%= form.number_field :qtd_alunos, id: :escola_qtd_alunos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
