<p id="notice"><%= notice %></p>

<h1>Escolas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Rota</th>
      <th>Endereco</th>
      <th>Mod ensino</th>
      <th>Periodo atend</th>
      <th>Qtd alunos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @escolas.each do |escola| %>
      <tr>
        <td><%= escola.nome %></td>
        <td><%= escola.rota %></td>
        <td><%= escola.endereco %></td>
        <td><%= escola.mod_ensino %></td>
        <td><%= escola.periodo_atend %></td>
        <td><%= escola.qtd_alunos %></td>
        <td><%= link_to 'Show', escola %></td>
        <td><%= link_to 'Edit', edit_escola_path(escola) %></td>
        <td><%= link_to 'Destroy', escola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Escola', new_escola_path %>
