<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @escola.nome %>
</p>

<p>
  <strong>Rota:</strong>
  <%= @escola.rota %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @escola.endereco %>
</p>

<p>
  <strong>Mod ensino:</strong>
  <%= @escola.mod_ensino %>
</p>

<p>
  <strong>Periodo atend:</strong>
  <%= @escola.periodo_atend %>
</p>

<p>
  <strong>Qtd alunos:</strong>
  <%= @escola.qtd_alunos %>
</p>

<%= link_to 'Edit', edit_escola_path(@escola) %> |
<%= link_to 'Back', escolas_path %>
