<%= form_with(model: refeicao, local: true) do |form| %>
  <% if refeicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(refeicao.errors.count, "error") %> prohibited this refeicao from being saved:</h2>

      <ul>
      <% refeicao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :refeicao_nome %>
  </div>

  <div class="field">
    <%= form.label :peso_liquido %>
    <%= form.text_field :peso_liquido, id: :refeicao_peso_liquido %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, id: :refeicao_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
