<p id="notice"><%= notice %></p>

<h1>Refeicaos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Peso liquido</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @refeicaos.each do |refeicao| %>
      <tr>
        <td><%= refeicao.nome %></td>
        <td><%= refeicao.peso_liquido %></td>
        <td><%= refeicao.desc %></td>
        <td><%= link_to 'Show', refeicao %></td>
        <td><%= link_to 'Edit', edit_refeicao_path(refeicao) %></td>
        <td><%= link_to 'Destroy', refeicao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Refeicao', new_refeicao_path %>
