<%= form_with(model: contrato, local: true) do |form| %>
  <% if contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>

      <ul>
      <% contrato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :contrato_data %>
  </div>

  <div class="field">
    <%= form.label :n_contrato %>
    <%= form.text_field :n_contrato, id: :contrato_n_contrato %>
  </div>

  <div class="field">
    <%= form.label :n_proc_lic %>
    <%= form.text_field :n_proc_lic, id: :contrato_n_proc_lic %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, id: :contrato_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
