<p id="notice"><%= notice %></p>

<h1>Contratos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>N contrato</th>
      <th>N proc lic</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.data %></td>
        <td><%= contrato.n_contrato %></td>
        <td><%= contrato.n_proc_lic %></td>
        <td><%= contrato.desc %></td>
        <td><%= link_to 'Show', contrato %></td>
        <td><%= link_to 'Edit', edit_contrato_path(contrato) %></td>
        <td><%= link_to 'Destroy', contrato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrato', new_contrato_path %>
