<%= form_with(model: cardapio, local: true) do |form| %>
  <% if cardapio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cardapio.errors.count, "error") %> prohibited this cardapio from being saved:</h2>

      <ul>
      <% cardapio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :cardapio_nome %>
  </div>

  <div class="field">
    <%= form.label :data_inicio %>
    <%= form.date_select :data_inicio, id: :cardapio_data_inicio %>
  </div>

  <div class="field">
    <%= form.label :data_fim %>
    <%= form.date_select :data_fim, id: :cardapio_data_fim %>
  </div>

  <div class="field">
    <%= form.label :mod_ensino %>
    <%= form.text_field :mod_ensino, id: :cardapio_mod_ensino %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
