<p id="notice"><%= notice %></p>

<h1>Cardapios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data inicio</th>
      <th>Data fim</th>
      <th>Mod ensino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cardapios.each do |cardapio| %>
      <tr>
        <td><%= cardapio.nome %></td>
        <td><%= cardapio.data_inicio %></td>
        <td><%= cardapio.data_fim %></td>
        <td><%= cardapio.mod_ensino %></td>
        <td><%= link_to 'Show', cardapio %></td>
        <td><%= link_to 'Edit', edit_cardapio_path(cardapio) %></td>
        <td><%= link_to 'Destroy', cardapio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cardapio', new_cardapio_path %>
